

/* contactpage*/

.contactpage .container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}
.contactpage h2 {
  text-align: center;
  color: #333;
}
.contactpage .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
.contactpage .form-control:focus {
  border-color: #0056b3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 86, 179, 0.6);
}
.contactpage .btn-primary {
  background-color: #0056b3;
  border-color: #00407a;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.contactpage .btn-primary:hover {
  background-color: #003580;
}






